:root {
    --font-family: 'Roboto', sans-serif;
    --font-logo: 'Raleway', sans-serif;

    --main-light: #FFFFFF;
    --main-bg-secondary-light: #F5F4FA;
    --main-dark: #2F303A;

    --acent-color: #2196F3;

    --text-color-light: #757575;
    --text-dark-color: #212121;
    --logo-dark: #000000;
}

body {
    font-family: var(--font-family);
    color: var(--text-dark-color);
    background-color: var(--main-light);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header {
    background-color: var(--main-light);
}

.navigation {
    font-weight: 500;
    line-height: 1.15;

}

.logo {
    text-decoration: none;
    color: var(--logo-dark);
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;
}

.Blue-logo {
    color: var(--acent-color);
}

.navigation-item {
    color: var(--text-dark-color);
    font-weight: 500;
    line-height: 1.14;
    cursor: pointer;

}

.navigation-item:hover,
.navigation-item:focus {
    color: var(--acent-color);
}

.tel-mail {
    color: var(--text-color-light);
    font-weight: 500;
}

.tel-mail:hover,
.tel-mail:focus {
    color: var(--acent-color);
}

.link {
    text-decoration: none;
    font-family: inherit;
}

.list {
    list-style: none;
}

.hero {
    background-color: var(--main-dark);
}

.hero-title {
    color: var(--main-light);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
}
.hero-button {
    border: none;
    background-color: var(--acent-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: var(--main-light);
    cursor: pointer;
}

.what-we-do-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.15;
}

.wwd-text {
    color: var(--text-color-light);
    line-height: 1.7;
}

.what-we-do-big-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.6;
}

.team {
    background-color: var(--main-bg-secondary-light);
}

.team-titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
}

.team-text {
    color: var(--text-color-light);
    font-size: 16px;
    line-height: 1.17;
}

.footer {
    background-color: var(--main-dark);

}

.footer-logo {
    font-family: var(--font-logo);
    color: var(--main-light);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
}

.Blue-logo {
    color: var(--acent-color);
}

.footer-adress {
    font-style: normal;
    color: var(--main-light);
    line-height: 1.7;
}

.brt-footer {
    opacity: 0.6;
}

/* PORTFOLIO*/
.active-btn {
    color: var(--acent-color);
}

.prt-btn {
    border: none;
    border-radius: 4px;
    background-color: var(--main-bg-secondary-light);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-dark-color);
}

.prt-btn:hover,
:focus {
    background-color: var(--acent-color);
    color: var(--main-light);
}

.title-sample {
    font-weight: 500;
    font-size: 18px;
    line-height: 2;
}

.text-sample {
    color: var(--text-color-light);
    font-size: 16px;
    line-height: 1.8;
}